{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicFriends</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
</head>
<body>
<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
             <section>
             Added Friends
            {% for friend in friends %}
            </section>
            </li>
            <li>
                <a href="#" class="friend" username="{{friend.username}}">{{ friend.username }}</a>
            </li>
            {% endfor %}

            <li class="sidebar-brand">
            <section>
            Friend Requests           
            </section>
            </li>

            {% for friend in friends %}
            <li>
                <a href="#">{{ friend.username }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>Music Friends  <button type="button" class="btn btn-dark">add friend</button></h1>
            <br>
            <div id="common-tracks-container">
                Select a friend from the sidebar to see your common tracks.
            </div>

    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Friends Menu</a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>


{% verbatim %}
<script id="common-tracks-template" type="text/x-handlebars-template">
    <h4>{{ tracks.length }} tracks in common with {{ friend }}:</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Album</th>
        </tr>
      </thead>
      <tbody>
        {{#each tracks}}
        <tr>
          <th scope="row"></th>
          <td>{{track.name}}</td>
          <td>{{track.artists.0.name}}</td>
          <td>{{track.album.name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</script>
{% endverbatim %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>

<!-- Menu Toggle Script -->
<script>
var my_username = "{{ me.username }}"
var access_tokens = {
    "{{ me.username }}": "{{ me.spotify_access_token }}",
{% for friend in friends %}
    "{{friend.username}}": "{{ friend.spotify_access_token }}",
{% endfor %}
}

var tracks = {}

commonTracksTemplate = Handlebars.compile(document.getElementById('common-tracks-template').innerHTML)

$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});

$(".friend").click(function(e) {
    $('#common-tracks-container').html("Loading...")
    friend = $(this).attr('username')
    showCommonTracks(friend)
});

function showCommonTracks(username) {
    getTrackItems(username, function() {
        commonTracks = []

        myTrackIds = new Set()
        for (i = 0; i < tracks[my_username].length; i++) {
            myTrackIds.add(tracks[my_username][i].track.id)
        }

        for (i = 0; i < tracks[username].length; i++) {
            id = tracks[username][i].track.id
            if (myTrackIds.has(id)) {
                commonTracks.push(tracks[username][i])
            }
        }

        document.getElementById('common-tracks-container').innerHTML = commonTracksTemplate({
            friend: username,
            tracks: commonTracks
        })

    })
}

function getTrackItems(username, callback) {
    if (username in tracks) {
        callback()
    }

    request_url = 'https://api.spotify.com/v1/me/tracks'
    getTrackItemBatch(username, request_url, callback, [])
}

function getTrackItemBatch(username, url, doneCallback, items) {
    $.ajax({
        url: request_url,
        headers: {
            'Authorization': 'Bearer ' + access_tokens[username]
        },
        statusCode: {
            200: function(response) {
                items = items.concat(response.items)
                request_url = response.next
                if (request_url == null) {
                    tracks[username] = items
                    doneCallback(username, items)
                } else {
                    getTrackItemBatch(username, request_url, doneCallback, items)
                }
            },
            401: function() {
                refreshAccessToken(username, function() {getTrackItemBatch(username, url, doneCallback, items)})
            }
        }
    });
}

function refreshAccessToken(username, callback) {
    $.ajax({
        url: '/refresh_token/' + username,
        success: function(response) {
            access_tokens[username] = response.access_token
            callback()
        }
    })
}

$(document).ready(function() {
    tracks[my_username] = getTrackItems(my_username, function(x, y) {})
})

</script>


</body>
</html>